{% extends '../layout/layout-admin.html' %}

{% block content %}
<div class="container">
    <div class="row">
        
        <div class="col-md-12">
            <h4>Composition Home</h4>
        </div>
        
        <div class="col-md-12" style="margin-top:20px;font-size:1.2em;">
            <ul>
                <li><a href="/data/compositions/sidenav">sidenav data request</a></li>
            </ul>
        </div>
        
    </div>
</div>
{% endblock %}
