{% extends '../layout/layout-admin.html' %}

{% block style %}
{% parent %}
<link rel="stylesheet" href="/component/reactlet-common/reactlet-common.css" />
<link rel="stylesheet" href="/component/reactlet-table/dist/table.css" />
<link rel="stylesheet" href="/library/summernote/summernote.css">
<link rel="stylesheet" href="/style/module/view.css">
{% endblock %}

{% block script %}
{% parent %}
<script>
window.app = {
    moduleName:"{{ page.moduleName }}",
    itemId:"{{ page.itemId }}"
};
</script>
<script src="/component/reactlet-common/reactlet-mixin.js"></script>
<script src="/library/summernote/summernote.js"></script>
<script src="/script/module/dist/edit.js"></script>
{% endblock %}

{% block content %}
<div class="container" style="margin-top:20px;">
    
    <div class="row">
        <div class="col-md-12">
            <h4>{{ page.action }} {{ page.moduleName }}</h4>
            {% if page.itemId %}
            <div class="muted">id: {{ page.itemId }}</div>
            {% endif %}
        </div>
    </div>
    
    <div class="row" style="margin-top:20px;">
        <div class="col-md-9">
            <div id="editForm"></div>
        </div>
    </div>
    
</div>
{% endblock %}
