{% extends '../layout/layout-admin.html' %}

{% block style %}
{% parent %}
<link rel="stylesheet" href="/component/reactlet-common/reactlet-common.css" />
<link rel="stylesheet" href="/component/reactlet-table/dist/table.css" />
<link rel="stylesheet" href="/style/module/list.css">
{% endblock %}

{% block script %}
{% parent %}
<script>
window.app = { moduleName:"{{ page.moduleName }}" };
</script>
<script src="/component/reactlet-common/reactlet-mixin.js"></script>
<script src="/script/module/dist/list.js"></script>
{% endblock %}

{% block content %}
<div class="container" style="margin-top:20px;">
    
    <div class="row">
        <div class="col-md-10">
            <h4>The {{ page.moduleName }} list</h4>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-10" style="margin-bottom:10px;">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default btn-new">New</button>
                <button type="button" class="btn btn-default btn-view">View</button>
                <button type="button" class="btn btn-default btn-edit">Edit</button>
                <button type="button" class="btn btn-default btn-delete">Delete</button>
            </div>
        </div>
        <div class="col-md-10">
            <div id="table1"></div>
        </div>
    </div>
    
</div>
{% endblock %}
