.simplify-container .header-container {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.navbar-brand .navbar-brand-logo {
    height: 30px;
}