<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title|| "ReactCMS" }}</title>

{% block script %}
<script src="/library/jquery/jquery.min.js"></script>
<script src="/library/bootstrap/js/bootstrap.min.js"></script>
<script src="/library/underscore/underscore.js"></script>
<script src="/library/react/react.js"></script>
<script src="/library/react/JSXTransformer.js"></script>
<script src="/library/d3/d3.min.js"></script>
<script src="/library/react-d3-components/react-d3-components.min.js"></script>
<script type="text/jsx" src="/component/common/common-mixin.js"></script>
<script type="text/jsx" src="/script/page/support.js"></script>

<script type="text/jsx" src="/component/header/blackboot_header.js"></script>
<script type="text/jsx" src="/component/footer/blackboot_footer.js"></script>
<script type="text/jsx" src="/component/header/simplify_header.js"></script>
<script type="text/jsx" src="/component/item/detail.js"></script>
<script type="text/jsx" src="/component/media/detail.js"></script>
<script type="text/jsx" src="/component/article/detail.js"></script>
<script type="text/jsx" src="/component/linkset/detail.js"></script>
<script type="text/jsx" src="/component/graph/d3graph.js"></script>
<script type="text/jsx" src="/component/embed/iframe.js"></script>
<script type="text/jsx" src="/component/cabinet/cabinet.js"></script>

<script type="text/jsx">
var app = app || {};
app.pageDataType = "{{ page.pageData.datatype }}" || "page";
app.pageContent = {{ page.pageData.content|json|safe}};
app.pageComposition = {{ page.compositionData|json|safe}};
</script>

<script type="text/jsx" src="/script/composition/render.js"></script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/library/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/library/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/style/style.css">
<link rel="stylesheet" href="/component/common/common-style.css"/>

<link rel="stylesheet" href="/component/header/blackboot_header.css"/>
<link rel="stylesheet" href="/component/footer/blackboot_footer.css"/>
<link rel="stylesheet" href="/component/header/simplify_header.css"/>
<link rel="stylesheet" href="/component/item/detail.css"/>
<link rel="stylesheet" href="/component/media/detail.css"/>
<link rel="stylesheet" href="/component/article/detail.css"/>
<link rel="stylesheet" href="/component/linkset/detail.css"/>
<link rel="stylesheet" href="/component/graph/d3graph.css"/>
<link rel="stylesheet" href="/component/embed/iframe.css"/>
<link rel="stylesheet" href="/component/cabinet/cabinet.css"/>
{% endblock %}
</head>

<body>
{% block header %}
<div class="header-container container-fluid header">
</div>
{% endblock %}

<div class="body-container">
{% block content %}{% endblock %}
</div>

{% block footer %}
<div class="footer-container container">
</div>
{% endblock %}

</body>
</html>
