{% extends '../layout/layout.html' %}

{% block style %}
{% parent %}
<link rel="stylesheet" href="/style/page/edit.css">
{% endblock %}

{% block script %}
{% parent %}
<script src="/library/handlebars/handlebars.min.js"></script>
<script>
var app = {
    mode: "{{ page.mode }}",
    pageName:"{{ page.pageObject.name }}" || "{{ page.name }}",
    pageData: {{ page.pageObject|json|raw }}
};

Handlebars.registerHelper('json', function(context) {
    return JSON.stringify(context);
});
</script>
<script src="/script/page/edit.js"></script>

<script id="component-entry-template" type="text/x-handlebars-template">
{% raw %}
<div class="component-entry">
    <div data-section="{{ sectionName }}" class="component-form">
        <h4 class="pull-right" style="margin-top:0px;">
            <span class="label label-primary">Widget Name</span>
        </h4>
        <div class="well">
            <div class="form-group">
                <label>UI Component</label>
                <input type="text" class="form-control" name="component" value="{{ widgetName }}" placeholder="example: ArticleDetail">
            </div>
        </div>
        <h4 class="pull-right" style="margin-top:0px;">
            <span class="label label-primary">Widget Data by Value</span>
        </h4>
        <div class="well">
            <div class="form-group">
                <label>Data Content</label>
                <textarea class="form-control" name="widgetdata" placeholder="example: { &quot;title&quot;:&quot;CMS&quot; }">{{{ json widgetInfo.data }}}</textarea>
            </div>
        </div>
        <h4 class="pull-right" style="margin-top:0px;">
            <span class="label label-primary">Widget Data by Query</span>
        </h4>
        <div class="well">
            <div class="form-group">
                <label>Module Name</label>
                <input type="text" class="form-control" name="module" value="{{ widgetInfo.module }}" placeholder="example: article">
            </div>
            <div class="form-group">
                <label>Data Query</label>
                <textarea class="form-control" name="condition" placeholder="example: { &quot;title&quot;:&quot;my title&quot; }">{{ widgetInfo.condition }}</textarea>
            </div>
            <div class="form-group">
                <label>Data Filter</label>
                <textarea class="form-control" name="filter" placeholder="example: { &quot;limit&quot;: 2 }">{{ widgetInfo.filter }}</textarea>
            </div>
        </div>
    </div>
</div>
{% endraw %}
</script>
{% endblock %}

{% block content %}
<div class="container" style="min-height:420px;">
    
    <div class="row" style="margin-top:20px;border-bottom: solid 1px #f2f2f2;">
        <div class="col-md-4">
            <div class="form-group form-top row">
                <label for="pageName" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="pageName" value="{{ page.pageObject.name }}" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-top row">
                <label for="pageComposition" class="col-sm-4 control-label">Composition</label>
                <div class="col-sm-8">
                    {% if page.mode == "edit" %}
                    <input type="text" class="form-control" id="pageComposition" />
                    {% endif %}
                    {% if page.mode == "add" %}
                    <select class="form-control composition-select"></select>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-top row">
                <button class="btn btn-info btn-save-page pull-right">Save Page</button>
                {% if page.mode == "edit" %}
                <button class="btn btn-info btn-save-page-as pull-right" style="margin-right:5px;">Save As</button>
                <button class="btn btn-info btn-view-page pull-right" style="margin-right:5px;">View Page</button>
                {% endif %}
            </div>
        </div>
    </div>
    
    <div class="row" style="margin-top:10px;">
        <div class="col-md-3">
            <h4>Sections</h4>
            <div class="section-container">
                <p class="text-muted">no section to display</p>
            </div>
        </div>
        <div class="col-md-9">
            <div class="block-container">
            </div>
        </div>
    </div>
    
</div>
{% endblock %}
